.photosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.photoItem {
    
}

.photoItemImg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.section {
    
}